{% extends 'layout.html' %}

{% block body %}
    <h1>ABOUT</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nobis iste molestiae aut eos. Placeat nesciunt atque aliquam nobis. Recusandae voluptates, commodi minus voluptatum magni nam totam laudantium adipisci similique error numquam. Ipsum, doloribus quis culpa placeat dolorem minima! Voluptatum quas non, necessitatibus magni sunt incidunt doloribus! Magni vero iure, laudantium atque fugiat minus libero, dolorem vitae, sequi numquam porro molestiae. Provident quaerat, vitae harum asperiores odit praesentium delectus tempore quisquam. Modi suscipit ducimus deleniti expedita dolores, similique iure nesciunt quibusdam fugiat pariatur officia atque perspiciatis harum excepturi, eveniet ea aut quae quod adipisci! Id voluptatibus inventore harum autem debitis.</p>
{% endblock %}